cffi==2.0.0
charset-normalizer==3.4.7
comtypes==1.4.16; sys_platform == "win32"
cryptography==47.0.0
fire==0.7.1
fonttools==4.62.1
lxml==6.1.0
numpy==2.4.4
opencv-python-headless==4.13.0.92
pdf2docx==0.5.12
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
pycparser==3.0
PyMuPDF==1.27.2.3
pypdf==6.15.0
pypdfium2==5.7.1
python-docx==1.2.0
python-pptx==1.0.2
reportlab==4.4.10
termcolor==3.3.0
typing_extensions==4.15.0
xlsxwriter==3.2.9
